.landing{
    position: relative;
    height: 100%;
    width: 100%;
    display: table;
    z-index: -1;
}

.home-wrap{
    clip: rect(0, auto, auto, 0);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #366431, #4c9bbd, #23A6D5,#3c6768, #143707);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

.home-inner{
    position: fixed;
    display:table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transform: translateZ(0);
    will-change: transform;
}

.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 20%;
    color: #fff;
}

.caption h3{
    font-size: 4rem;
    text-transform: uppercase;
}

.logos{

}

.logos img{
    height: 3.5em;
}


/************************
Animations
************************************/

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}